#main {
    background-color: #dbdbdb;
    font-family: "Patua One", "Lato", serif;
   }
  
  #title {
    background: black;
    text-align: center;
    font-family: Patua One;
    font-size: 75px;
    color: white;
    border-bottom: 5px solid white;
    }
  
  .title-caption {
    text-align: center;
    font-family: Lato;
    font-size: 30px;
  }
  
  #image {
    max-width: 100%;
    width: 80%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 8px;
  }
  
  #img-caption {
    text-align: center;
    line-height: 50px;
  }
  
  .p-text {
    font-family: Lato;
    font-size; 25px;
  }
  
  #headline {
    font-family: Patua One;
    font-size: 30px;
  }
  
  blockquote {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background: white;
    border-bottom: 5px solid green;
    font-size: 30px;
  }
  
  #tribute-info {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .info-block {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-left: 5px solid green;
  }
  
  #more-info {
    text-align: center;
    font-family: Patua One;
    font-size: 25px;
    padding: 50px;
  }
  
  a {
    color: green;
  }
  
  
  