* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  border-top: 5px solid #143441;
  text-rendering: optimizeLegibility;
  color: #0D1F21;
  font-size: 100%;
}

main {
  display: block;
}

.main-header__measure {
  max-width: 1400px;
}

.main-header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.03em;
}

.main-header__logo a {
  text-decoration: none;
  color: #0D1F21;
}

.main-header__nav {
  border-top: 1px solid #b9b7b7;
  border-bottom: 1px solid #b9b7b7;
  padding-left: 5px;
  padding-right: 5px;
}

.main-header__nav--items {
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 0px;
}

.main-header__nav--item {
  display: inline-block;
  line-height: 20px;
  font-size: 18px;
}

.main-header__nav--item a:link, 
.main-header__nav--item a:visited {
  text-decoration: none;
  display: block;
  color: #143441;
  padding: 15px 15px 15px;
  border-bottom: 5px solid #fff;
  font-size: 1rem;
}

.main-header__nav--item a[aria-current=true] {
  font-weight: bold;
  color: #143441;
  border-bottom: 5px solid #0D1F21;
}

.main-header__nav--cta {
  background: #EBB11A;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.heading {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
  text-align: center;
}

.heading-measure {
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.heading-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.03em;
}

.heading-text {
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 20px;
}

.heading-image img {
  padding: auto 10px 20px 20px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.heading-image__caption {
  margin: 15px 0 5px 0;
}

@media (min-width: 1000px) {
  .main-header {
    border-bottom: 1px solid #b9b7b7;
  }
  .main-header__measure {
    margin-left: auto;
    margin-right: auto;
  }
  .main-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .main-header__logo {
    float: left;
  }
  
  .main-header__nav {
    float: right;
    border: none;
  }
  
  .main-header__nav--items {
    white-space: normal;
    overflow-x: initial;
  }
}
