* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Color Palette*/

/* Hex */
.Navy-Mustard-1-hex { color: #0D1F21; }
.Navy-Mustard-2-hex { color: #143441; }
.Navy-Mustard-3-hex { color: #C4B69A; }
.Navy-Mustard-4-hex { color: #EBB11A; }
.Navy-Mustard-5-hex { color: #CC9612; }

/* RGBA */
.Navy-Mustard-1-rgba { color: rgba(13, 31, 33, 1); }
.Navy-Mustard-2-rgba { color: rgba(20, 52, 65, 1); }
.Navy-Mustard-3-rgba { color: rgba(195, 182, 154, 1); }
.Navy-Mustard-4-rgba { color: rgba(235, 177, 26, 1); }
.Navy-Mustard-5-rgba { color: rgba(204, 149, 17, 1); }



html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  border-top: 5px solid #143441;
  text-rendering: optimizeLegibility;
  color: #0D1F21;
  font-size: 100%;
}

.main-header {
  max-width: 1200px;
}

.main-header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.03em;
}

.main-header__logo a {
  text-decoration: none;
  color: #0D1F21;
}

.main-header__nav {
  border-top: 1px solid #C4B69A;;
  border-bottom: 1px solid #C4B69A;
  padding-left: 5px;
  padding-right: 5px;
}

.main-header__nav--items {
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 0px;
}

.main-header__nav--item {
  display: inline-block;
  line-height: 20px;
  font-size: 18px;
}

.main-header__nav--item a:link, .main-header__nav--item a:visited {
  text-decoration: none;
  display: block;
  color: #143441;
  padding: 15px 15px 15px;
  border-bottom: 5px solid #fff;
  font-size: 1rem;
}

.main-header__nav--item a[aria-current=true] {
  font-weight: bold;
  color: #143441;
  border-bottom: 5px solid #0D1F21;
}

.main-container {
  margin: 1000px;
}